* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1.title-header{
    color: deeppink;
    background-color: lightgray;
    padding: 5%;
    text-align: center;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}